.SidebarMenu {
    padding: 0 1rem;
    /* background-color: rgb(6, 63, 63); */
}
.SidebarMenu > h2 {
    font-size: 3rem;
    font-weight: bolder;
    /* text-align: center; */
    margin: 1rem 0 1rem;
}
.SelectCategory {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #ff7d9d;
    color: #05243a;
    padding: 0.5rem;
    font-size: 1.3rem;
}
.SelectCategory:active {
    background-color: #d86582;
}
.Burger {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    display: grid;
    gap: 0.2rem;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}
.Burger > div {
    background-color: #05243a;
    width: 30px;
    height: 4px;
}