.Footer {
    display: grid;
    justify-content: center;
    align-items: center;
    color: #fa95ae81;
}

/* Desktop */
@media (min-width: 700px) and (min-height: 500px) {
    .Footer {
        background-color: #031827;
    }
}

/* Mobile Landscape */
@media (max-width: 800px) and (max-height: 400px) {
    .Footer {
        background-color: none;
    }
}